aside {
    display: none;
}
@media screen and (min-width:1024px) {
    .aside {
        grid-area: 1 / 1 / 6 / 2;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #707070;
    }
    .search {
        display: block;
        width: 90%;
        margin: 20px auto;
        padding-left: 20px;
    }
    .link {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: white;
        margin: 30px;
    }
    .link img {
        max-width: 20px;
        margin-right: 10px;
    }
    .aside-submenu {
        margin: 40px 60px;
        color: white;
    }
    .contact-us {
        display: none;
    }
    .aside-contact {
        margin-bottom: 20px;
    }
    .aside-contact h3 {
        font-size: 2em;
        margin: 20px;
        color: black;
    }
    .aside-contact h4 {
        display: inline;
        font-size: 13px;
        color: black;
    }
    .aside-contact img {
        max-width: 25px;
    }
}