<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Reduce costs in the company, manage personnel with customized software">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <title>Login - Trackgenix</title>
        <script src="../javascript/login.js"></script>
    </head>
    <body>
        <div class="main-container">
            <aside class="aside">
                <div>
                    <input class="search" type="search" id="search" name="search" placeholder="Search...">
                    <ul>
                        <li>
                            <a href="./index.html" class="link">
                                <img src="../assets/HomeIcon.png" alt="img" class="icon">
                                <span>
                                    Home
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="./sign-up.html" class="link">
                                <img src="../assets/PersonIcon.png" alt="img" class="icon">
                                <span>
                                    Sign up
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="./login.html" class="link">
                                <img src="../assets/2PersonIcon.png" alt="img" class="icon">
                                <span>
                                    Log in
                                </span>
                            </a>
                        </li>
                        <li class="aside-submenu">
                            <p>Submenu</p>
                            <ol>
                                <li>Placeholder</li>
                                <li>Placeholder</li>
                                <li>Placeholder</li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <section class="aside-contact">
                    <h3>Contact us</h3>
                    <section>
                        <img src="../assets/MailIcon.png" alt="mailicon.png">
                        <h4>sampletext@gmail.com</h4>
                    </section>
                    <section>
                        <img src="../assets/BuildingIcon.png" alt="buildingIcon.png">
                        <h4>Av. 18 de Julio 5555, Montevideo, Uruguay</h4>
                    </section>
                </section>
            </aside>
            <div>
                <header>
                    <a class="menu-points" href="menu-points">
                        <img src="../assets/menu-points.png" alt="menu-points">
                    </a>
                    <section class="descriptive-mobile">
                        <img src="../assets/descriptive-image.jpg" alt="descriptive-mobile.jpg">
                    </section>
                    <section>
                        <h1>Trackgenix</h1>
                        <p class="gigatech">
                            By GigaTech Sofware Solution
                        </p>
                    </section>
                    <section class="networks">
                        <a class="linkedin" href="https://www.linkedin.com/" target="_blank">
                            <img src="../assets/LinkedInIcon.png" alt="LinkedIn" />
                        </a>
                        <a class="instagram" href="https://www.instagram.com/" target="_blank">
                            <img src="../assets/InstagramIcon.png" alt="Instagram" />
                        </a>
                        <a class="facebook" href="https://www.facebook.com/" target="_blank">
                            <img src="../assets/FacebookIcon.png" alt="Facebook" />
                        </a>
                        <a class="twitter" href="https://twitter.com/" target="_blank">
                            <img src="../assets/Twittericon.png" alt="Twitter" />
                        </a>
                    </section>
                </header>
                <section class="white-background">
                    <div class="flex-container">
                        <section class="request-info-table">
                            <form>
                                <h2>Log in</h2>
                                <fieldset>
                                    <label for="email">Email:</label>
                                    <input type="text" id="email" name="email" placeholder="Enter your email">
                                    <span class="message-error">Email is not valid</span>
                                </fieldset>
                                <fieldset>
                                    <label for="name">Password:</label>
                                    <input type="password" id="password" name="password" placeholder="*******">
                                    <span class="message-error">Password is not valid</span>
                                </fieldset>
                                <button id="login">Login</button>
                            </form>
                        </section>
                    </div>
                    <section class="contact-us">
                        <h3>Contact us</h3>
                        <section>
                            <img src="../assets/MailIcon.png" alt="mailicon.png">
                            <h4>sampletext@gmail.com</h4>
                        </section>
                        <section>
                            <img src="../assets/BuildingIcon.png" alt="buildingIcon.png">
                            <h4>Av. 18 de Julio 5555, Montevideo, Uruguay</h4>
                        </section>
                    </section>
                </section>
                </main>
            </div>
        </div>
        <footer>
            <div class="networks-mobile">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="../assets/LinkedInIcon.png" alt="LinkedIn" />
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../assets/InstagramIcon.png" alt="Instagram" />
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../assets/FacebookIcon.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../assets/Twittericon.png" alt="Twitter" />
                </a>
            </div>
            <p>
                Copyright © 2022 GigaTech Software Solutions. All rights reserved.
            </p>
        </footer>
    </body>
</html>