<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Trackgenix</h1>
    </header>
    <main>
        <h2>Sign in</h2>
        <p>
            New to Trackgenix? sign up now
        </p>
        <form >
            <div class="container">
                <label for="email"></label>
                <input type="text" placeholder="Email" name="uname" required>
                
                <label for="password"></label>
                <input type="password" placeholder="Password" name="psw" required>
                
                <button type="submit">Login</button>
                <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
            <div class="container" style="background-color:#f1f1f1">
                <span class="forgot-password"><a href="#">Forgot password?</a></span>
            </div>
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        </form>
    </main>
</body>
</html>