<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Reduce costs in the company, manage personnel with customized software">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/aside.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <title>Employee Signup - Trackgenix</title>
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <div class="main-container">
            <aside class="aside">
                <div>
                    <input class="search" type="search" id="search" name="search" placeholder="Search...">
                    <ul>
                        <li>
                            <a href="./index.html" class="link">
                                <img src="../assets/home-icon.png" alt="img" class="icon">
                                <span>
                                    Home
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="./sign-up.html" class="link">
                                <img src="../assets/person-icon.png" alt="img" class="icon">
                                <span>
                                    Sign up
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="./login.html" class="link">
                                <img src="../assets/person-icon-two.png" alt="img" class="icon">
                                <span>
                                    Log in
                                </span>
                            </a>
                        </li>
                        <li class="aside-submenu">
                            <p>Submenu</p>
                            <ol>
                                <li>Placeholder</li>
                                <li>Placeholder</li>
                                <li>Placeholder</li>
                            </ol>
                        </li>
                    </ul>
                </div>
                <section class="aside-contact">
                    <h3>Contact us</h3>
                    <section>
                        <img src="../assets/mail.png" alt="mailicon.png">
                        <h4>sampletext@gmail.com</h4>
                    </section>
                    <section>
                        <img src="../assets/building.png" alt="building-icon.png">
                        <h4>Av. 18 de Julio 5555, Montevideo, Uruguay</h4>
                    </section>
                </section>
            </aside>
            <div>
                <header>
                    <a class="menu-points" href="menu-points">
                        <img src="../assets/menu-points.png" alt="menu-points">
                    </a>
                    <section class="descriptive-mobile">
                        <img src="../assets/descriptive-image.jpg" alt="descriptive-mobile.jpg">
                    </section>
                    <section>
                        <h1>Trackgenix</h1>
                        <p class="gigatech">
                            By GigaTech Sofware Solution
                        </p>
                    </section>
                    <section class="networks">
                        <a class="linkedin" href="https://www.linkedin.com/" target="_blank">
                            <img src="../assets/linkedin.png" alt="LinkedIn" />
                        </a>
                        <a class="instagram" href="https://www.instagram.com/" target="_blank">
                            <img src="../assets/instagram.png" alt="Instagram" />
                        </a>
                        <a class="facebook" href="https://www.facebook.com/" target="_blank">
                            <img src="../assets/facebook.png" alt="Facebook" />
                        </a>
                        <a class="twitter" href="https://twitter.com/" target="_blank">
                            <img src="../assets/twitter.png" alt="Twitter" />
                        </a>
                    </section>
                </header>
                <section class="white-background">
                    <div class="flex-container">
                        <section class="request-info-table">
                            <form>
                                <h2>Employee Sign Up</h2>
                                <div class="request-info-inputs">
                                    <div class="info-inputs-column-left">
                                        <fieldset>
                                            <label for="name">Name:</label>
                                            <input type="text" id="name" name="name" placeholder="Enter your name">
                                            <span class="message-error">Name must have more than 3 letters</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="lastName">Lastname:</label>
                                            <input type="text" id="lastName" name="lastName"
                                                placeholder="Enter your lastname">
                                            <span class="message-error">Lastname must have more than 3 letters</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="dni">DNI:</label>
                                            <input type="text" id="dni" name="dni" placeholder="Enter your DNI">
                                            <span class="message-error">DNI is not valid</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="dob">Birth date:</label>
                                            <input type="text" id="dob" name="dob" placeholder="Enter your birth date">
                                            <span class="message-error">Birth date is not valid</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="phone">Telephone:</label>
                                            <input type="text" id="phone" name="phone" 
                                                placeholder="Enter your telephone">
                                            <span class="message-error">Telphone must have 10 digits</span>
                                        </fieldset>
                                    </div>
                                    <div class="info-inputs-column-right">
                                        <fieldset>
                                            <label for="address">Address:</label>
                                            <input type="text" id="address" name="address" 
                                                placeholder="Enter your address">
                                            <span class="message-error">Address must have at least 5 characters long
                                                and contain letters and numbers</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="city">City:</label>
                                            <input type="text" id="city" name="city" placeholder="Enter your city">
                                            <span class="message-error">City must have more that 3 letters</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="zip">Postal code:</label>
                                            <input type="text" id="zip" name="zip" 
                                                placeholder="Enter your postal code">
                                            <span class="message-error">Postal code must have 4 or 5 digits</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="email">Email:</label>
                                            <input type="text" id="email" name="email" placeholder="Enter your email">
                                            <span class="message-error">Email is not valid</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="password">Password:</label>
                                            <input type="password" id="password" name="password"
                                                placeholder="Enter your password">
                                            <span class="message-error">Password must have letters, numbers, and a 
                                                least 8 characters long</span>
                                        </fieldset>
                                        <fieldset>
                                            <label for="passwordRepeat">Repeat your password:</label>
                                            <input type="password" id="passwordRepeat" name="passwordRepeat"
                                                placeholder="Repeat your password">
                                            <span class="message-error">Password does not match</span>
                                        </fieldset>
                                    </div>
                                </div>
                                <button id="create">Create</button>
                            </form>
                        </section>
                    </div>
                    <section class="contact-us">
                        <h3>Contact us</h3>
                        <section>
                            <img src="../assets/mail.png" alt="mailicon.png">
                            <h4>sampletext@gmail.com</h4>
                        </section>
                        <section>
                            <img src="../assets/building.png" alt="buildingIcon.png">
                            <h4>Av. 18 de Julio 5555, Montevideo, Uruguay</h4>
                        </section>
                    </section>
                </section>
                </main>
            </div>
        </div>
        <footer>
            <div class="networks-mobile">
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="../assets/linkedin.png" alt="LinkedIn" />
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="../assets/instagram.png" alt="Instagram" />
                </a>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="../assets/facebook.png" alt="Facebook" />
                </a>
                <a href="https://twitter.com/" target="_blank">
                    <img src="../assets/twitter.png" alt="Twitter" />
                </a>
            </div>
            <p>
                Copyright © 2022 GigaTech Software Solutions. All rights reserved.
            </p>
        </footer>
    </body>
</html>