aside {
    display: none;
}
@media screen and (min-width:1024px) {
    .aside {
        grid-area: 1 / 1 / 6 / 2;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #707070;
    }
    .search {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px;
        margin-left: 20px;
        padding-left: 90px;
        padding-left: 90px;
    }
    .link {
        display: block;
        text-decoration: none;
        font-weight: bold;
        color: white;
        margin: 30px;
    }
    .link img {
        max-width: 20px;
        margin-right: 10px;
    }
    .asideSubmenu {
        margin: 40px 60px;
        color: white;
    }
    .contactUs {
        display: none;
    }
    .asideContact {
        margin-bottom: 20px;
    }
    .asideContact h3 {
        font-size: 2em;
        margin: 20px;
        color: black;
    }   
    .asideContact h4 {
        display: inline;
        font-size: 13px;
        color: black;
    }
    .asideContact img {
        max-width: 25px;
    }
}