aside {
    display: none;
}
/* .sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 334px;
    height: 100%;
    color: #FFFFFF;
    background-color: #707070;
} 
.search {
    margin: 20px auto;
    margin-bottom: 80px;
}
.sidebar .icon {
    margin-right: 10px;
    max-width: 35px;
}
.sidebar .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 30px;
}
.sidebarsubmenu {
    margin: 40px 90px;
} */
/* .sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 334px;
    height: 100%;
    color: #FFFFFF;
    background-color: #707070;
} */
/* .search {
    margin: 20px auto;
    margin-bottom: 80px;
}
.sidebar .icon {
    margin-right: 10px;
    max-width: 35px;
}
.sidebar .link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 30px;
}