/* footer {
    text-align: center;
    padding: 50px;
    background-color: #373867;
}
.sidebarfooter {
    bottom: 68px;
    left: 18px;
}
.sidebarfooter h3 {
    font-size: 2em;
    margin: 20px;
    color: #000000;
}
.sidebarfooter h4 {
    color: #000000;
    font-size: 14px;
}
.sidebarfooter img {
    max-width: 28px;
}
footer {
    text-align: center;
    padding: 50px;
    background-color: #373867;
} */