footer {
    margin-top: 50px;
    display: flex;
    display: block;
    text-align: center;
    padding: 5%;
    background-color: #373867;
}
footer p {
    padding: 3%;
    margin: %;
    color: white;
    font-size: 80%;
}