header {
    background-color: #373867;
    flex-direction: column;
    display: flex;
}
header h1 {
    display: flex;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 70px;
    justify-content: center;
}
.MenuPoints {
    color: #FFFFFF;
    align-self: flex-end;
    filter: invert();
    margin-right: 8%;
}
.DescriptiveMobile img {
    border-radius: 0% 0% 30% 30%;
    display: flex;
    width: 100%;
}
.Networks {
    display: none;
}
.gigatech {
    text-align: end;
    font-size: 80%;
    margin-right: 5%;
    margin-bottom: 2%;
}