main {
    display: flex;
    flex-direction: column;
    background-color: #373867;
}
.keepTrack {
    font-weight: bold;
    width: 350px;
    font-size: 20px;
    color: #AACE9B;
    margin-top: 20px;
    margin-left: 20px;
}
.greenBubble {
    align-self:  center;
    line-height: 170%;
    letter-spacing: 0.125em;
    color: #373867;
    background-color: #AACE9B;
    border-radius: 65px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    margin: 8% 8%;
}
.infoContainer {
    display: flex;
    color: white;
}
.infoContainer h2 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
.infoContainer p {
    font-size: 16px;
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 1,5;
}
.infoContainer h4 {
    font-size: 20px;
    text-align: center;
    top: 5px;
}
.infoCircleFather {
    display: none;
}
.greenSquares {
    display: flex;
    justify-content: center;
}
.greenSquaresContainer {
    border: solid;
    display: flex;
    max-width: 600px;
}
.item1,
.item2,
.item3,
.item4 {
    border: solid;
    display: flex;
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 140px;
    background-color: #AACE9B;
    border-radius: 10%;
    font-weight: bold;
}
.whiteBackground {
    background-color: white;
}
.gigatechHistory {
    padding-top: 8%;
    background-color: #D9D9D947;
}
.gigatechHistory h2 {
    margin: 2%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.gigatechHistory p {
    text-align: justify;
    padding: 5%;
    line-height: 1.4;
    margin-left: 6%;
    margin-right: 6%;
}
.requestInfoTable {
    display: flex;
    margin: 5%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    line-height: 2.2;
}
.requestInfoTable h2 {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 5%;
}
.requestInfoTable fieldset {
    display: flex;
    flex-direction: column;
}
input, select, textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    width: 100%;
    background-color:#AACE9B;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 120%;
    align-self: justify;
}
.extrasContainers {
    display: flex;
    margin-bottom: 60px;
    padding: 10px;
    font-weight: bold;
    line-height: 1.7;
    justify-content: space-around;
}
.item2 ul {
    list-style: decimal;
    margin-left: 18px;
    margin-top: 7px;
}
.itemA a {
    color: #000000;
    text-decoration: none;
}
.contactUs {
    text-align: center;
}
.contactUs h3 {
    font-size: 2em;
    margin: 20px;
}
.contactUs h4 {
    display: inline;
    font-size: 14px;
}
.contactUs img {
    margin-top: 25px;
    max-width: 25px;
    filter: invert();
}
@media screen and (min-width:480px) {
    .keepTrack {
        position: absolute;
        top: 170px;
        font-weight: bold;
        font-size: 120%;
        color: #AACE9B;
        width: 40%;
    }
    .greenBubble {
        position: absolute;
        align-self: flex-end;
        width: 180px;
        font-size: 18px;
        line-height: 100%;
        text-align: right;
        letter-spacing: 0.125em;
        color: black;
        background-color: #AACE9B;
        opacity: 70%;
        border-radius: 5% 0% 0% 5%;
        padding: 8px;
        margin: 0;
        top: 13%;
    }
    .infoContainer {
        display: flex;
    }
    .infoContainer h2 {
        font-weight: bold;
        font-size: 25px;
        color: #AACE9B;
        margin-left: 42px;
        margin-top: 12%;
        text-align: start;
    }
    .infoContainer p {
        text-align: start;
        line-height: 1.1;
        margin-top: 25px;
    }
    .infoContainer h4 {
        flex-flow: row wrap;
        font-size: 20px;
        margin-top: 30px;
        margin-left: 40px;
    }
    .infoCircleFather {
        display: flex;
        flex-direction: column;
        margin-right: 4%;
        margin-top: 13%;
        right: 100px;
    }
    .infoCircle {
        display: flex;
        flex-direction: center;
        background-color: #373867;
        width: 110px;
        height: 110px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        color: #AACE9B;
        border: 8px solid #707070;
        border-radius: 50%;
    }
    .infoCircle h3 {
        align-items: center;
        align-self: center;
        padding-top: 70px;
        width: 100px;
        height: 100px;
        font-size: 15px;
        padding-left: 7px;
    }
    .greenSquares {
        border: solid;
        background-color: white;
        width: 100%;
    }
    .flexContainer {
        display: flex;
        flex-direction: column;
    }
    .gigatechHistory {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20px;
        margin-bottom: 8%;
    }
    .requestInfoTable {
        order: -1;
    }
 }
@media screen and (min-width:1024px) {
    main {
        grid-area: 1 / 2 / 6 / 6;
        display: flex;
        width: 100%;
        display: grid;
    }
    .keeptrack {
        font-weight: bold;
        width: 300px;
        font-size: 40px;
        color: #AACE9B;
        position: absolute;
        top: 80px;
        left: 20px;
    }
    .greenBubble {
        top: 22%;
    }
    .infoContainer h2 {
        color: #000000;
        margin-left: 20%;
        font-size: 45px;
        font-weight: normal;
    }
    .infoContainer p {
        color: #373867;
        width: 72%;
        line-height: 1.5;
        font-size: 20px;
    }
    .infoContainer h4 {
        color: #373867;
    }
    .infoCircleFather {
        display: flex;
        flex-direction: center;
        margin-right: 4%;
        margin-top: 10%;
        right: 100px;
    }
    .infoCircle {
        display: table;
        width: 150px;
        height: 150px;
    }
    .infoCircle.alt {
        transform: translateX(-70px);
    }
    .infoCircle h3 {
        display: table-cell;
        vertical-align: middle;
    }
    .greenSquares {
        display: flex;
        width: 100%;
        justify-content: space-between;

    }
    .item {
        padding-top: 10px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .gigatechHistory {
        order: -1;
        margin-top: 5%;
    }
 }