body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

 @media screen and (min-width:480px) {
    aside {
    }
    header {
    }
    main { 
    }
    footer {
    }
}
 @media screen and (min-width:1024px) {
    aside {
    }
    header {
    }
    main { 
    }
    footer {
    }
 }
