body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: calc(100% - 334px);
}
body header,
body main,
body footer {
    left: 334px;
    display: block;
    position: relative;
}
header {
    background-color: #373867;
    position: absolute;
    width: 100%;
    height: 150px;   
}
h1 {
    padding: 30px 100px 100px 130px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 100px;
}
.graybackground {
    background-color: #D9D9D9;
}
.networks {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
.gigatech {
    position: absolute;
    top: 120px;
    right: 465px;
    font-weight: bolder;
    font-size: 18px;
}
.descriptive {
}
.keeptrack {
    font-weight: bold;
    width: 300px;
    font-size: 40px;
    color: #AACE9B;
    position: absolute;
    top: 80px;
    left: 20px;
}
.ourhr {
    position: absolute;
    width: 410px;
    right: 0;
    top: 320px;
    font-weight: 800;
    font-size: 24px;
    line-height: 170%;
    text-align: right;
    letter-spacing: 0.125em;
    color: #373867;
    background-color: #AACE9B;
    opacity: 80%;
    border-radius: 5% 0% 0% 5%;
    padding: 20px;
    box-sizing: border-box;
}
.infocontainer {
    position: relative;
}
.whytrackgenix {
    width: 629px;
    right: 200px;
    height: 77px;
    font-size: 48px;
    text-align: center;
    color: #000000;
    margin-top: 40px;
}
.weseek {
    padding: 5%;
    padding-top: 0%;
    width: 567px;
    left: 422px;
    font-weight: 400;
    font-size: 30px;
    line-height: 170%;
    color: #373867;
}
.doingyourbusiness {
    position: relative;
    top: 70%;
    left: 229px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #373867;
}
.infocirclefather {
    position: absolute;
    right: 100px;
    top: 100px;
}
.infocircle {
    display: table;
    background-color: #373867;
    width: 150px;
    height: 150px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    color: #AACE9B;
    border: 10px solid #707070;
    border-radius: 50%;
}
.infocircle.alt {
    transform: translateX(-100px);
}
.infocircle h3 {
    display: table-cell;
    vertical-align: middle;
}
.greensquares {
    margin: 50px;
}
.item {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #AACE9B;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    padding: 30px ;
    font-weight: bold;
    margin: 30px;
}
.howgigatech {
    border: solid;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #373867;
    margin: 20px 250px 40px;
    padding: 20px;
}
.in2021 {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    display: block;
    padding: 20px;
}
fieldset {
    display: grid;
    padding: 50px 90px;
    margin: 40px 250px;
    border: solid;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.requestinfo{
    font-size: 25px;
    margin: 20px;
}
input[type=text], select {
    padding: 12px 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type=submit] {
    width: 90%;
    background-color:#AACE9B;
    padding: 20px 50px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}
.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    width: 334px;
    height: 100%;
    color: #FFFFFF;
    background-color: #707070;
}
.sidebar .icon {
    max-width: 35px;
}
.sidebar .link {
    font-weight: bold;
    color: white;
}
.sidebarfooter {
    position: absolute;
    bottom: 68px;
    left: 18px;
}